<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen&family=PT+Sans+Narrow&family=Saira+Condensed:wght@300&display=swap"
    rel="stylesheet">

<head>
    <meta charset="UTF-8">

    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
</head>


<body>
    <header>
    <h1>Travel Blog</h1>
    <nav class="nav-bar">
     <a class="active" href="/">Home</a>
     <a href="./gallery">Articles</a>
     <a href="./profile">Authors - to be added</a>
     <a href="./location">Locations</a>

    {{#if loggedIn}} 
     <a href="./logout">Logout</a>
     <a href="./my-profile">View Your Profile</a>
    {{else}}
     <a href="./login">Login</a>
     <a href="./create-account">Create an account</a>
    {{/if}}

    </nav>
    </header>

    {{{body}}}
</body>

</html>