<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
</head>

<body>
    <div class="topnav">
     <a class="active" href="/">Home</a>
     <a href="./articles">Articles</a>
     <a href="./authors">Authors</a>
    <a href="./locations">Locations</a>

    {{#if authToken}} 
     <a href="./logout">Logout</a>
     <a href="./my-profile">View Your Profile</a>
    {{else}}
     <a href="./login">Login</a>
     <a href="./create-account">Create an account</a>
    {{/if}}

</div>

    {{{body}}}
</body>

</html>