<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen&family=PT+Sans+Narrow&family=Saira+Condensed:wght@300&display=swap"
    rel="stylesheet">

<head>
    <meta charset="UTF-8">
    {{#if title}}
    <title>{{title}}</title>
    {{else}}
    <title>Default title.</title>
    {{/if}}
</head>

<body>
    {{{body}}}
</body>

</html>