<script src="./galleryMenu.js"></script>

<div class="container">
    <h1>ARTICLE INDEX / NAVIGATION</h1>
    <div class="article-list">
        {{#each articles }}
        <button>
            <p>
                {{ArticleID}}
                {{Title}}
            </p>
            <p>{{PublishDate}}</p>
        </button>
        {{/each}}
    </div>

</div>