<div class="container">
    <h1>Image gallery</h1>

    {{#if images}}
    <p>These are the fantastic images you've uploaded:</p>
    <div class="grid-3">
        {{#each images}}
        <div class="card">
            <a href="./images/{{this}}"><img class="card-header card-img" src="./images/thumbnails/{{this}}"></a>
            <div class="card-body flex-row justify-center">
                <p><em>{{this}}</em></p>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>No articles uploaded yet</p>
    {{/if}}

    
</div>