<div class="container">
    <h1>ARTICLE INDEX / NAVIGATION</h1>

    {{#each articles}}
    <div class="article-item">
        <p>
            {{Title}}
        </p>
        <p>{{PublishDate}}</p>
    </div>
    {{/each }}
    
    <div class="article-thumbnail">

    </div>



</div>