

{{#if toastMessage}}
<p>{{toastMessage}}</p>
{{/if}}

 

    <main id="container">
        <div id="about">
            <h1>About: </h1>
            <p>Blurb about the travel blog</p>
        </div>

        <div id="articles-list">
            <h1>Top Articles</h1>
        </div>
    </main>


