

{{#if toastMessage}}
<p>{{toastMessage}}</p>
{{/if}}

 

    <main id="container">
        <div id="about">
            <h1>About: </h1>
            <p>Your portal to New Zealand's uncharted wonders, fueled by passionate explorers like you! Dive into a tapestry of user-generated tales, from the misty Fiordland fjords to the vibrant streets of Auckland. Unearth hidden hot springs, savor Maori culinary delights, and get insider tips on off-the-beaten-path treasures. Share your own Kiwi escapades, capturing the essence of this enchanting land. "KiwiAdventures" bridges the gap between wanderers, forging connections through shared love for Aotearoa. Join us in painting an authentic portrait of New Zealand, one adventure at a time. Embark on your odyssey today and let the Kiwi spirit guide you!</p>
        </div>
    </main>


