{{!-- display for posting new article --}}

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="./custom-quill.js"></script>
<script src="./preview.js"></script>

<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<header>
    <h1>Travel Blog</h1>
    <nav id="nav-bar">
        <a href="./logout">Logout</a>
        <a href="./my-profile">View Your Profile - to be added</a>
        <a class="active" href="/">Home</a>
        <a href="./entry">Articles - to be added</a>
        <a href="./Authors">Authors - to be added</a>
        <a href="./location">Locations</a>
    </nav>
</header>

<form id="form" action="./writeArticle" enctype="multipart/form-data" multiple='multiple' method="POST">
    <div class="form-group">
        <label for="title">Title of the post</label>
        <input type="text" id="title" name="title" required maxlength="255"><br><br>
        <div id="toolbar">
        </div>
        <input type="hidden" id="article" name="article">
        <div id="editor">
        </div>
        <br /><br />
        <div>
            <label for="uploadImage">Upload an image here!</label>
            <input class="uploadImage" id="uploadImage1" type="file" name="imageFile" accept=".png,.jpg,.jpeg,.bmp">
        </div>
        <div>
            <label for="uploadImage">Upload an image here!</label>
            <input class="uploadImage" id="uploadImage2" type="file" name="imageFile" accept=".png,.jpg,.jpeg,.bmp">
        </div>
        <div>
            <label for="uploadImage">Upload an image here!</label>
            <input class="uploadImage" id="uploadImage3" type="file" name="imageFile" accept=".png,.jpg,.jpeg,.bmp">
        </div>
        <div>
            <label for="uploadImage">Upload an image here!</label>
            <input class="uploadImage" id="uploadImage4" type="file" name="imageFile" accept=".png,.jpg,.jpeg,.bmp">

        </div>

        <div id="preview">

        </div>
        <button id="submit-button" type="submit">Submit form</button>
    </div>
</form>