/* Reset some default margin and padding for a cleaner layout */
* {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
}

body {
    background-image: url('/images/background.jpg');
    background-size: auto;
}

body,
h1,
ul {
    margin: 0;
    padding: 0;
}

/* Style for the title at the top of the page */
header {
    background-color: #d5eeff;
    color: #323643;
    text-align: center;
    padding: 10px;
}

/* Style for the navigation bar */
#nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

#nav-bar ul {
    list-style-type: none;
}


#container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#articles-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    gap: 20px;
    text-align: center;
    padding: 20px;
    background-color: #d5eeff;
    border-radius: 10px;
    margin: 20px;
    color: #323643;
}

#articles-list li {
    padding: 20px;
    border: 1px solid #f7f7f7;
    text-align: center;
}

#articles-list h3 {
    margin: 0;
}

#articles-list p {
    margin: 10px;

}

#about {
    text-align: center;
    padding: 20px;
    background-color: #d5eeff;
    border-radius: 10px;
    margin: 20px;
    color: #323643;
    width: 450px;
    margin: 20px auto;
}

form {
    text-align: center;
    padding: 20px;
    background-color: #d5eeff;
    border-radius: 10px;
    margin: 20px auto;
    color: #323643;
    width: 450px;
}


.info {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.avatar {
    width: 80px;  
    height: 80px;
    object-fit: cover; /* this will make sure to cover the area without stretching the image */
    border-radius: 50%; /* makes the image round */
  }

@media (min-width: 600px) {
    #articles-list {
        grid-template-columns: 1fr;
    }
}